body{
    background-color: aquamarine;
}
.container h1{
    font-size: 40px;    
}
.container p{
    font-size: 20px;
    line-height: 1.4;
}
.container img {
    max-width: 600px;
}
.container{
    margin: 0 auto;
    text-align: center;
    width: 700px;
    background-color: antiquewhite;

}

.avt{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: -70px;
}

.content{
    background-color: yellow;
    padding: 40px;
}
.avt:first-child{
    margin-left: 0;
}
