.box{
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    outline: 50px solid red; 
    /* bao quanh mép ngoài cùng của đối tượng, 0 làm tăng kích thước, chiếm cả vào margin */
    outline-offset: 10px;
    margin: 40px;
}