.box_parent{
    background-color: pink;
    height: 250px;
    margin-top: 50px;
    /* cách xử lý margincpllapse: thêm 2 dòng bên dưới vào thẻ cha */
    display: flex;
    flex-direction: column;
}
.box_child{
    background-color: blue;
    width: 50%;
    margin-top: 70px;
}